.intro {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro__profile-card {
  background: #FFB300;
  width: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
   moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
   moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
   materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes init {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 260px;
    height: 420px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

.intro__avatar-container {
  width: auto;
  height: 260px;
  padding: 20px;
}

.intro__logo-link {
  display: block;
  text-align: center;
  margin: 25px 30px;
  transition: transform 0.35s;
}

.intro__logo-link:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.intro__logo-image {
  width: 120px;
  max-width: 100%;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.06);
}

.intro__logo-link:hover > .intro__logo-image{
  box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.intro__title {
  margin-bottom: 20px;
  font-size: 26px;
  color: #FF5722;
}

.intro__text {
  margin-bottom: 13px;
  font-size: 16px;
}

.intro__profile-social-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  animation: moveIn 1s 3.1s ease forwards;
}

@keyframes moveIn {
  0% {
    margin-top: 40px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 20px;
  }
}

.intro__profile-social-item {
  width: 20%;
}

.intro__link {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.intro__link:hover {
  transform: scale(1.2);
}

.intro__image {
  width: 32px;
}
