.skills {
  width: 100%;
  min-height: 570px;
  margin: 0 auto;
}

.skills__wrapper {
  width: 90%;
  padding: 0;
  margin: 20px auto;
  box-sizing: border-box;
}

.skills__title {
  text-align: center;
  margin: 30px 0;
  font-size: 32px;
  color: #f64209;
}

.skills__post {
  display: flex;
  max-width: 100%;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

.skills__desc-items {
  margin-bottom: 40px;
  padding: 5px 25px;
  list-style: initial;
  background-color: rgba(255, 255, 255, .7);
}

.skills__desc-item {
  margin-bottom: 7px;
  line-height: 1.9;
  font-size: 20px;
  color: black;
}

.skills__items {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.skills__item {
  display: inline-block;
  margin: 7px;
  padding: 7px 10px;
  color: black;
  background: #1e1ed699;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    background: #1e1ed6f0;
  }
}
